@charset "utf-8";
/* CSS Document */
body {
	font-weight:300;
	font-family: "acumin-pro-wide-1","acumin-pro-wide-2",sans-serif;
	color: #09402f;
	background-color: #ffffff;
}
strong {
	font-weight:400;
}
a {
	color: #000000;
}
a:link {
	color: #000000;
	;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #000000;
}
a:hover, a:focus {
	color: #472e8d;
	text-decoration: underline;
}
a:active {
	text-decoration: none;
	color: #472e8d;
}
a:active, a:focus {
	outline: none;
 ie-dummy: expression(this.hideFocus=true);
}
:focus {
	outline: none;
}
a[href^=tel] {
color: inherit;
}

h1 {
	font-family: "acumin-pro-wide-1","acumin-pro-wide-2",sans-serif;
	font-size: 85px;
	font-weight:400;
	color: #000;
	text-align:center;
	text-decoration: none;
	padding: 10px 10px 10px 0px;
	margin: 0px 0px 20px 0px;
}
h2 {
	font-family: "acumin-pro-wide-1","acumin-pro-wide-2",sans-serif;
	font-size: 45px;
	font-weight:400;
	color: #000000;
	text-align:center;
	text-decoration: none;
	padding: 10px 10px 10px 0px;
	margin: 0px 0px 0px 0px;
}
h3 {
	font-family: "acumin-pro-wide-1","acumin-pro-wide-2",sans-serif;
	font-size: 20px;
	font-weight:400;
	color: #000;
	text-decoration: none;
	padding: 10px 10px 10px 0px;
	margin: 0px 0px 0px 0px;
}

/* Nav */
.masthead {
	position:absolute;
	font-family: "acumin-pro-wide-1","acumin-pro-wide-2",sans-serif;
	width:100%;
	height:180px;
	text-align:left;
	color: #ffffff;
	font-size:24px;
	font-weight:300;
	letter-spacing:-1px;
	padding: 0px 0px 0px 0px;
	z-index:10;
	overflow:hidden;
}
.masthead_top {
	position:relative;
	height:80px;
	padding: 20px 0px 0px 0px;
	background-color: #1c3766;
	background-color: rgba(28, 55, 102, 0.6);
}
.masthead_bottom {
	position:relative;
	height:100px;
	padding: 20px 0px 0px 0px;
	background-color: #ffffff;
	background-color: rgba(255, 255, 255, 0.85);
}
.mast_container {
	position:relative;
	max-width:1200px;
	height:100px;
	margin: 0 auto;
	padding: 15px 0px 5px 0px;
	background-color: #ffffff;
	z-index:101;
}
/* home carousel */
/*
.carousel-indicators {
  bottom:-60px;
  left: 300px;
}
.carousel-indicators li {
	 border: 1px solid #919191;
}
.carousel-indicators .active {
  margin: 0;
  width: 12px;
  height: 12px;
  background-color: #3f3f3f;
}
*/

/* start general */
.motto {
	font-family: "acumin-pro-wide-1","acumin-pro-wide-2",sans-serif;
	margin-top: 80px;
	margin-bottom: 60px;
	font-size: 60pt;
	font-weight: 100;
	letter-spacing: -3px;
	color: #3f3f3f;
	text-align: center;
	padding-right: 40px;
	padding-left: 40px;
}
.intro-sp {
	width: 980px;
	text-align: center;
	font-size: 22pt;
	font-weight: 100;
	letter-spacing: -1px;
	color: #5c5c5c;
}
.top-intro {
	margin-bottom: 150px;
}
.col-centered{
	float: none;
	margin: 0 auto;
}
.feats {
	overflow: hidden;
	padding-top: 80px;
	text-align: center;
}

.feats-header {
	background-color: #f7f8f9;
	width: 100%;
	font-family: "acumin-pro-wide-1","acumin-pro-wide-2",sans-serif;
	padding-bottom: 60px;
	font-size: 60pt;
	font-weight: 100;
	letter-spacing: -3px;
	color: #3f3f3f;
}
.line {
	line-height: 0.5;
	border-top: solid 1px #5c5c5c;
}

.product-sm-img {
	max-width: 300px;
}
.prod-img-container {
	background-color: #f7f8f9;
	padding: 0 0 60px 0;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.prod-words {
	padding: 60px 30px 0 30px;
	color: #3f3f3f !important;

	/*background-color: #FFF;*/
}
.product-header {
	font-family: "acumin-pro-wide-1","acumin-pro-wide-2",sans-serif;
	font-size: 30pt;
	font-weight: 300;
	letter-spacing: -3;
	color: #3f3f3f;
	padding-top: 30px;
}
.product-desc {
	padding: 25px 15px 0 15px;
	height: 120px;
	/*display: inline-block;*/

}



.greenchoice {
	padding-top: 150px;
	width: 100%;
}
.prov-brands {
	padding-top: 150px;
}
.prov-header {
	width: 100%;
	font-family: "acumin-pro-wide-1","acumin-pro-wide-2",sans-serif;
	padding-bottom: 60px;
	font-size: 60pt;
	font-weight: 100;
	letter-spacing: -3px;
	color: #3f3f3f;
	text-align: center;
}
.prov-individual {
	margin-bottom: 100px;
	text-align: center;
}
.brandlogo {
	width: 80%;
}
.brand-name {
	font-family: "acumin-pro-wide-1","acumin-pro-wide-2",sans-serif;
	font-size: 40pt;
	font-weight: 300;
	letter-spacing: -3;
	color: #3f3f3f;
	padding-top: 30px;
}
.brand-motto {
	font-family: "acumin-pro-wide-1","acumin-pro-wide-2",sans-serif;
	font-size: 17pt;
	font-weight: 400;
	letter-spacing: -3;
	color: #5c5c5c;
	padding-top: 20px;

}
.brand-desc {
	font-family: "acumin-pro-wide-1","acumin-pro-wide-2",sans-serif;
	font-size: 17pt;
	font-weight: 100;
	letter-spacing: -3;
	color: #5c5c5c;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 25px;
	height: 130px;
}
.cc-button {
	margin-top: 30px;
	padding: 10px 30px 10px 30px;
	border-radius: 5px;
	background-color: #FFF;
	color: #919191;
	vertical-align: middle;
	border: 1px solid #919191;
	font-weight: 100;
	font-size: 12pt;
}
.business-hands {
	width: 100%;
	height: 800px;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../assets/files/images/main/cc_main-privbrand-parallax-2x.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  position: relative;
  left: 0;
  right: 0;
  z-index: 1;
  display: inline-block;
}
.priv-brand {
	color: #FFF;
	font-weight: 300;
	font-size: 120px;
	text-align: center;
	letter-spacing: -3px;
}
.priv-feat {
	color: #FFF;
	text-align:center;
	font-weight: 100;
	font-size: 70px;
	letter-spacing: -3px;
}
.priv-desc {
	padding-top: 20px;
	color: #FFF;
	text-align:center;
	font-weight: 100;
	font-size: 40px;
	letter-spacing: -3px;
}
.busi-button {
	margin-top: 60px;
	padding: 7px 40px 7px 40px;
	border-radius: 5px;
	background-color: #FFF;
	background-color: rgba(255, 255, 255, 0.7);
	color: #3f3f3f;
	border: 1px solid #919191;
	font-weight: 100;
	font-size: 20pt;
}
.busi-text {
	top: 50%;
	transform: translateY(-50%);
	position: relative;
}
.star-header {
	padding-top: 150px;
	font-family: "acumin-pro-wide-1","acumin-pro-wide-2",sans-serif;
	font-size: 60pt;
	font-weight: 300;
	letter-spacing: -6px;
	color: #3f3f3f;
	text-align: center;
}
.star-button {
	margin: 60px 0 90px 0;
	padding: 7px 30px 7px 30px;
	border-radius: 5px;
	background-color: #FFF;
	color: #919191;
	vertical-align: middle;
	border: 1px solid #919191;
	font-weight: 100;
	font-size: 17pt;
}
.allstar-img {
	width: 100%;
}

.clean-header {
	padding: 150px 0 60px 0;
	font-family: "acumin-pro-wide-1","acumin-pro-wide-2",sans-serif;
	font-size: 50pt;
	font-weight: 100;
	letter-spacing: -6px;
	color: #3f3f3f;
	text-align: center;
}
.pro-img {
	padding-bottom: 20px;
	width: 100%;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	position: relative;
	z-index: 1;
}
.clean-img-container {
	

}
.clean-desc {
	z-index: 3;
	/*position: absolute;*/
	position: absolute;
  top: 35%;
  left: 0;
  width: 100%;
	text-align:center;
	font-family: "acumin-pro-wide-1","acumin-pro-wide-2",sans-serif;
	font-size: 20pt;
	font-weight: 200;
	letter-spacing: -2px;
	color: #fff;
}
.clean-pro {
	padding-bottom: 150px;
	overflow: hidden;
}

.form-area {
	padding-top: 90px !important;
	padding-bottom: 60px !important;
	text-align: center;
	color: #FFF;
	width: 100%;
	background-color: #3f3f3f;
	padding: 0 20% 0 20%;
	overflow: hidden;
	/*padding-top: 150px;*/
}
.form-text {
	width: 100%;
}

.form-contact {
	/*display: inline-block;*/
	/*padding: 30px 100px 30px 100px;*/
	width: 50%;
	border-bottom: 1px solid #fff;
}
.form-contact-container {
	padding: 30px !important;

}
.address-header {
	padding: 10px 0 0 40px;
	text-align:left;
	font-family: "acumin-pro-wide-1","acumin-pro-wide-2",sans-serif;
	font-size: 20pt;
	font-weight: 200;
	letter-spacing: -2px;
}
.form-img {
	padding: 30px !important;
	/*display: inline-block;*/
	width: 50%;
}
.form-field {
	width: 100%;
	height: 50px;
	border: none;
	margin: 10px;
	padding: 10px;
}
.form-textarea {
	margin: 10px;
	width: 100%;
	color: #919191;
	padding: 10px;

}
.form-select {
	width: 100%;
	border: none;
	color: #919191;
	margin: 10px;
}
select {
	height: 50px;
	padding: 10px;
	border:0;
  background: #FFF;
  border-radius: 0;
  height:32px;
  width:350px;
  -webkit-appearance: none;
}
select.arrow {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    0px 1.5em;
  background-repeat: no-repeat;
}
.submit-btn {
	padding: 10px 20px 10px 20px;
	font-size: 20pt;
	font-weight: 100;
	width: 100%;
	border: none;
	color: #FFF;
	margin: 10px;
	border-radius: 5px;
	border: 1px solid #FFF;
	background-color: transparent;
}


/* start footer */

.footerwrap {
	position:relative;
	width:100%;
	max-width:1200px;
	font-family: "acumin-pro-wide-1","acumin-pro-wide-2",sans-serif;
	color: #1c3766;
	font-size:18px;
	font-weight:300;
	text-align:center;
	background: #ffffff;
	padding: 60px 20px 80px 20px;
	overflow:hidden;
	margin:0 auto;
}
.footercopyright {
	color: #1c3766;
	font-size:18px;
	font-weight:300;
	text-transform:uppercase;
}

.footer_address {
	padding: 0px 0px 40px 0px;
}

.footer_address a {
	color: #659552;
	font-size:18px;
	font-weight:300;
	letter-spacing:-1px;
	text-decoration:none;
}
.footer_address a:hover {
	color:#659552;
	text-decoration:underline;
}
.rstar {
	font-size:13px;
	font-weight:300;
	color:#5c5c5c;
	padding: 0px 0px 0px 0px;
}
.rstar a {
	color: #666666;
	text-decoration:none;
	font-size:12px;
	font-weight:300;
	letter-spacing:1px;
}
.rstar a:hover {
	color:#8a8a8a;
	text-decoration: underline;
}
 @media (max-width: 991px) {

.masthead {
	position:absolute;
	font-family: "acumin-pro-wide-1","acumin-pro-wide-2",sans-serif;
	width:100%;
	height:88px;
	text-align:left;
	color: #ffffff;
	font-size:24px;
	font-weight:300;
	letter-spacing:-1px;
	padding: 0px 0px 0px 0px;
	z-index:10;
	overflow:hidden;
}



}
 @media (max-width: 767px) {


/* start footer */

.footerwrap {
	position:relative;
	width:100%;
	max-width:1200px;
	font-family: "acumin-pro-wide-1","acumin-pro-wide-2",sans-serif;
	color: #5c5c5c;
	font-size:17px;
	font-weight:300;
	text-align:center;
	background: #ffffff;
	padding: 60px 20px 60px 20px;
	overflow:hidden;
	margin:0 auto;
}
.phone-left img {
	text-align:left;	
	width:250px;
}
}
 @media (max-width: 550px) {
.phone-left img {
	width:200px;
}
}
 @media (max-width: 450px) {


}
 @media (min-width: 1200px) {

}
 @media (min-width: 1400px) {

 }
 @media (min-width: 1600px) {
.
}
 @media (min-width: 1800px) {

}
